# Python
__pycache__
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg

# Virtualenv
venv/
env/
.venv/
ENV/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Local env
# .env  # Comment this out so .env IS copied to Docker

# Git
.git

# Others
*.sqlite3
node_modules
